* {
    box-sizing: border-box;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(155, 155, 155);
    letter-spacing: .14em;
    text-transform: uppercase;
    background-color: rgba(178, 233, 187, 0.603);
}

.instruction {
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: center;
    /* justify-content: space-around; */
    /* flex-wrap: wrap; */
}


.sound {
    display: flex;
    flex-direction: column;
    margin: 20px 10px 20px 10px;
    text-align: center;
    width: 200px;
    height: 150px;
    background: rgb(78, 78, 78);
    border-radius: 10px;
    cursor: pointer;
    /* border: rgb(15, 8, 8) solid 2px; */
    /* box-shadow: 0.4vw 0.4vw 0.2vw 0vw #999; */
    box-shadow: 5px 10px 8px 0px rgb(51, 51, 51);
    justify-content: center;
}


.sound:hover {
    background-color: rgb(109, 109, 109);
}

.sound:active {
    background-color: rgb(48, 48, 48);
    /* box-shadow: 0.2vw 0.2vw 0.1vw 0vw #666; */
    box-shadow: 2px 5px 5px 0px black;
    transform: translateY(4px);
}

.clickChange {
    background-color: rgb(48, 48, 48);;
    /* box-shadow: 0.2vw 0.2vw 0.1vw 0vw #666; */
    box-shadow: 2px 5px 5px 0px black;
    transform: translateY(4px);
}

.p-key {
    font-family: 'Bungee Shade', cursive;
    margin: 13px 0 0px 0;
    font-size: 40px;
    color:rgb(146, 146, 146)
}

.p-sound {
    margin: 10px 20px 13px 20px;
}


.border1 {
    border: 3px solid rgb(161, 105, 1);
}

.border2 {
    border: 3px solid rgb(137, 146, 4);
}

.border3 {
    border: 3px solid rgb(0, 158, 132);
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 70px;
    color: rgb(78, 78, 78);
    margin: 70px 0 20px 0
}

@media (max-width: 691px) {
    .sound {
        width: 100px;
        height: 75px;
    }
}


@media (max-width: 691px) {
    h1 {
        font-size: 35px;
    }
}

@media (max-width: 691px) {
    .p-key {
        font-size: 20px;
    }
}

@media (max-width: 691px) {
    .p-sound {
        font-size: 10px;
    }
}

@media (max-width: 691px) {
    .border1 {
        border: 1.5px solid rgb(161, 105, 1);
    }
}

@media (max-width: 691px) {
    .border2 {
        border: 1.5px solid rgb(137, 146, 4);
    }
}

@media (max-width: 691px) {
    .border3 {
        border: 1.5px solid rgb(0, 158, 132);
    }
}